.collection-item {
  // flex-basis: 24%;
  // min-width: 300px;
  flex-basis: 20vw;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: 0 0.469rem 0.469rem 0.469rem;
  align-items: center;
  flex-grow: 1;
  position: relative;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: .85;
    position: absolute;
    bottom: 40px;
    display: none;
  }

  &:hover {
    .image {
      opacity: .8;
    }

    .custom-button {
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
}