.header {
  // border: 1px solid red;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-family: 'Open Sans Condensed';

  .logo-container {
    // border: 1px solid red;
    height: 100%;
    width: 100px;
    padding: 25px;
  }

  .options {
    // border: 1px solid red;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 15px;
      cursor: pointer;
    }
  }
}